certifi==2025.1.31
charset-normalizer==3.4.1
ff3==1.0.2
idna==3.10
mysql-connector-python==9.2.0
Naked==0.1.32
pycryptodome==3.10.1
PyYAML==6.0.2
requests==2.32.3
setuptools==76.0.0
shellescape==3.8.1
urllib3==2.3.0
