certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.1
crypto==1.4.1
cryptography==44.0.2
ff3==1.0.2
greenlet==3.2.1
idna==3.10
mysql-connector-python==9.3.0
Naked==0.1.32
pn_utilities @ file:///home/per-nielsen/containers/sockets/local_packages/pn_utilities-0.1.tar.gz#sha256=883fdd5d408c66a315216a2a4a6cfd1bf3d96ccfa0548780e449e6429b7ca168
pycparser==2.22
pycryptodome==3.22.0
PyYAML==6.0.2
redis==5.2.1
requests==2.32.3
shellescape==3.8.1
SQLAlchemy==2.0.40
typing_extensions==4.13.2
urllib3==2.4.0
